@unocss all;
:root {
  --spacing: 0.25rem;
  --fd-layout-width: 100vw;
  --fd-toc-width: 0px;
  --fd-page-width: 1200px;
  --fd-nav-height: 0px;
  --fd-sidebar-width: 0px;
  --fd-tocnav-height: 0px;
  --fd-banner-height: 0px;
  --fd-layout-offset: max(calc(50vw - var(--fd-layout-width) / 2), 0px);
  --fd-container: 1400px;
}
